@model Core.DbModels.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Детали</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Наименование
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            Цена
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            Описание
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            Название магазина
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Place.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class=" btn btn-info mr-1 ml-1">Изменить</a> |
    <a asp-action="Index" class=" btn btn-info mr-1 ml-1">Вернуться к списку</a>
</div>
